.error {
    color: var(--vscode-editorError-foreground);
}

.container {
  font-family: Consolas, monospace;
  margin-bottom: 100vh;
}

.action {
  border: 1px solid var(--vscode-editor-foreground);
}

.actionerror {
  border: 1px solid var(--vscode-errorForeground);
}

.action, .actionerror {
  border-radius: .15rem ;
  margin-bottom: .3rem;
  position: relative;
  min-height: 3rem;
  font-size: .9rem;
  word-break: break-word;
}

.action pre, .actionerror pre {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: normal;
  white-space: pre-wrap;
  border-top: 1px solid;
  padding-top: .6em;
}

.action .type, .actionerror .type, .action .title, .actionerror .title {
  position: absolute;
  font-size: 1rem;
  padding: .15rem 0;
}

.action .title, .actionerror .title {
  color: var(--vscode-editor-foreground);
  right: 1.5rem;
}

.file-icon {
  position: absolute;
  fill: var(--vscode-textPreformat-foreground);
  height: 1.25rem;
  width: 1.25rem;
  top: 4px;
  right: .15rem;
  cursor: pointer;
}

.action .type {
  background-color: var(--vscode-editor-foreground);
}

.actionerror .type {
  background-color: var(--vscode-errorForeground);
}

.action .type, .actionerror .type {
  top: -1px;
  left: -1px;
  color: var(--vscode-editor-background);
  padding: .15rem .3rem;
  border-radius: .15rem 0;
  line-height: 1.3rem;
}

.action .content, .actionerror .content {
  margin-top: 2rem;
  padding: 0 .3rem;
}

.actionerror .content .errormessage {
  color: var(--vscode-errorForeground);
}

.action .content .file-btn, .actionerror .content .file-btn {
  border: 1px solid var(--vscode-textPreformat-foreground);
  background-color: transparent;
  color: var(--vscode-textPreformat-foreground);
  cursor: pointer;
  border-radius: .15rem;
  padding: .25rem .5rem;
}

.quicknav {
  font-family: Consolas, monospace;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--vscode-editor-background);
  border-top: 1px solid;
  box-shadow: 0 0px 3px 0px var(--vscode-editor-foreground);
}

.quicknav a {
  padding: .3rem;
  text-decoration: none;
  display: inline-block;
  border-right: 1px solid var(--vscode-editor-foreground);
}

.quicknav a:first-of-type {
  border-left: 1px solid var(--vscode-editor-foreground);
}
